/*body{
	background-color: green;
}*/

#topnav{
	list-style: none;
	font-size: 24px;
	width: 100%;
	margin: 0 0 1em 0;
	padding: 0;
	background-color: #f2f2f2;
	border-bottom: 50px solid #ccc;
}

#topnav li{
	float: right;
}

#topnav li a{
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #069;
	border-right: 0px solid #ccc;
	transition: color 300ms ease, background-color 400ms ease;
}

#topnav li:hover a{
	color:  #c00;
	background-color: #fff;
}

.hover{
	max-height: 0px;
	-webkit-transform:perspective(400) rotate3d(1,0,0,-90deg);
	transition: 300ms ease;
}

/*here dropdown is what I am hovering over and .hover - where property dispay changes*/
.dropdown:hover .hover{
	-webkit-transform:perspective(400) rotate3d(0,0,0,0);
}


/*Social media links*/
.contact-wrapper{
	background-color: rgba(0, 0, 0, 0.75) !important;
    padding: 30px 0px 30px 0px;
    position: relative;
}

.normal-txt {
    color: #fff;
    font-size: 3em;
    font-weight: 100;
    padding-bottom: 10px;
    border-bottom: 1px solid;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.black{
	color: black;
	font-weight: 150;
	max-width: 100%;
	padding-bottom: 5px;
	border-bottom: 1px solid;
	margin: 0 auto;
	font-size: 3em;
}

.title{
	margin-bottom: 70px;
}

.socialinks {
    list-style: none;
    text-align: center;
    /*padding: 0;*/
}
.social-icons {
    display: inline-block;
    padding: 0px 38px 0px 0px;
}
.social-icons a{
    display: block;
    background-size: 100% 200%;
    width: 90px;
    height: 90px;
    transition: background-position 300ms;
}

.social-icons a:hover {
    background-position: 0px -90px;
}

.google-plus{
	background-image: url(../images/google-plus.png);
}
.linkedin{
	background-image: url(../images/linkedin.png);
}

.github{
	background-image: url(../images/github.png);
	background-size: 50%;
	background-position: 0px 3px;
}
/*end of social media icons*/
/*form styling*/
.form-control {
    box-shadow: none;
    border: 2px solid #8E8E8E;
    border-radius: 0px;
    padding: 12px 12px;
    height: auto;
    background: rgba(255, 255, 255, 0.11);
    margin-bottom: 15px;
}

.form-group input,.form-group textarea {
    color: #FFF;
}
/*end of form styling*/
/*footer portion*/
footer{
	width: 100%;
	background-color: #fff;
}

#copyright a{
	text-decoration: none;
}

.logo{
	width: 90px;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.15);
  	transition: box-shadow 0.2s ease-in-out;
}

.logos{
	padding-top: 20px;
	z-index: 20;
}

#my-picture{
	border-radius: 50%;
}

.logo:hover {
	/*width: 90px;*/
	box-shadow: 0 1em 3em rgba(50,105,206,0.8);
}

.carousel-wrapper{
	display: none;
	max-width: 80%;
	margin: 0 auto;
	/*padding-bottom: 12em;*/
	perspective: 180em;
	text-align: center;
}

.carousel {
	position: relative;
	width: 65em;
	height: 50em;
	margin: 0 auto;
	transform-style: preserve-3d;
	transition: transform 0.4s ease;
}

.carousel-slide{
	position: absolute;
	/*display: table;*/
	width: 65em;
	height: auto;
	background: white;
	margin: 0 auto;
}

[slide-number="1"] { 
	transform: rotateY(0deg);
}

[slide-number="2"] { 
	transform: rotateY(90deg);
}

[slide-number="3"] { 
	transform: rotateY(180deg);
}

[slide-number="4"] { 
	transform: rotateY(270deg);
}

.carousel-slide:nth-child(3) {
  	transform: translateZ(-22.5em) rotateY(180deg);
}

.carousel-slide:nth-child(2) {
  	transform: rotateY(-270deg) translateX(32.5em);
  	transform-origin: top right;
}

.carousel-slide:nth-child(4) {
  	transform: rotateY(270deg) translateX(-32.5em);
  	transform-origin: center left;
}

.carousel-slide:nth-child(1) {
  	transform: translateZ(22.5em);
}

.next, .prev {
  position: absolute;
  top: 50%;
  right: 0;
  width: 5em;
  margin-top: -2.5em;
  border-radius: 50%;
  background: lightgreen;
  text-align: center;
  line-height: 3;
  color: black;
  transform: translateY(-65%);
  cursor: pointer;
}

.prev {
  left: 0;
}
 
.portfolio-title{
	font-size: 4em;
    font-weight: 300;
    text-align: center;
    overflow: hidden;
    margin-bottom: 70px;
}

.portfolio-title::before,.portfolio-title::after {
    content: "";
    background: #ccc;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 42%;
    vertical-align: middle;
}
.portfolio-title::before {
    right: 0.5em;
    margin-left: -42%;
}
.portfolio-title::after {
    left: 0.5em;
    margin-right: -42%;
}

.item-space {
    margin-bottom: 30px;
}

#portfolio{
	padding: 80px 0px 0px 0px;
}

.port{
	list-style: none;
	text-align: left;
	padding-bottom: 40px;
}

.port figure {
	margin: 0;
	position: relative;
}

.port figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.port figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #111;
	color: #e66f69;
}

.port figcaption h3 {
	margin: 0px 0px 8px 0px;
	padding: 0;
	color: #fff;
}

.port figcaption a {
	text-align: center;
	padding: 8px 15px;
	display: inline-block;
	color: #fff;
}

.cs-style-3 figure {
	overflow: hidden;
}

.cs-style-3 figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.cs-style-3 figcaption a {
	position: absolute;
	bottom: 31px;
	right: 20px;
}
.button{
	background: transparent;
	border: 1px solid #fff;
}
.button:hover {
    background: white;
    color: #000;
}

.cs-style-3 figcaption {
	height: 100px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.cs-style-3 figure:hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}