/*webkit is a layout engine for safari and chrome*/
/*use anti-alias to prevent text fading out during transition*/
/**{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
}*/

body{
	height: 100vh;
	-webkit-overflow-scrolling: touch;
	margin: 0;
	-moz-osx-font-smoothing: grayscale !important;
  	-webkit-font-smoothing: antialiased !important;
  	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

.tooltip{
	font-weight: 600;
	font-size: 2rem;
}

#googleMap {
    position: absolute !important;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#contact-wrapper{
	background-color: rgba(0, 0, 0, 0.7) !important;
    padding: 5rem 0 5rem 0;
    position: relative;
    /*z-index: 1;*/
    /*this 100vh covers whole map*/
    min-height: 100vh;
    margin-top: -1.2em;
}

.normal-txt {
    color: #fff;
    font-size: 3em;
    font-weight: 200;
    padding-bottom: 10px;
    border-bottom: 1px solid;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.black{
	color: black;
	font-weight: 250;
	max-width: 100%;
	padding: 5px;
	/* border-bottom: 1px solid; */
	margin: 1rem auto 0 auto;
	font-size: 3rem;
}

.title{
	margin-bottom: 70px;
}

.socialinks {
	-webkit-transform-style: preserve-3d;
    list-style: none;
    text-align: center;
	
}
.social-icons {
    display: inline-block;
    padding: 0px 38px 0px 0px;
    -webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
}
.social-icons a{
    display: block;
    background-size: 100% 200%;
    width: 90px;
    height: 90px;
    -webkit-transition: background-position 300ms;
    -moz-transition: background-position 300ms;
}

.social-icons a:hover {
    background-position: 0px -90px;
}

.github{
	background-image: url(../images/githubb.png);
}
.linkedin{
	background-image: url(../images/linkedin.png);
}

.form-control {
    box-shadow: none;
    border: 3px solid #8E8E8E;
    border-radius: 8px;
    padding: 12px 12px;
    height: auto;
    background: rgba(255, 255, 255, 0.11);
    margin-bottom: 15px;
}

.form-group input,.form-group textarea {
   color: #FFF;
   font-size: 18px !important;
}

/*following will prevent background change on autofill*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s !important;
  -webkit-text-fill-color: #FFF !important; 
  font-size: 18px !important;
}

::-webkit-input-placeholder {
	font-size: 18px;
}

::-moz-placeholder{
	font-size: 18px;
}

::-ms-input-placeholder{
	font-size: 18px;
}
/*end of form styling*/

/*end of contact field*/

/*footer portion*/
footer{
	height: 2em;
	width: 100%;
	background-color: #fff;
	position: relative;
}

#copyright a{
	text-decoration: none;
}

/*//what I know portion*/
.logo{
	margin-top: 1rem;
	width: 8rem;
	box-shadow: 0px 0px 0px rgba(0,0,0,0.15);
  	/*transition: box-shadow 0.2s ease-in-out;*/
  	border-radius: 3px;
  	transform: scale(1);
  	transition: 0.3s all ease-in-out;
}

.jquery{
	width: 12rem;
}

.git-hub{
	width: 10rem;
}

.git{
	width: 9rem;
}

.aws{
	margin-top: 3rem;
}

.mysql{
	margin-left: 1rem;
}

.sass{
	margin-top: 2rem;
}

.logos{
	padding-top: 20px;
}

#my-picture{
	border-radius: 50%;
	padding:1rem;
	border:1px solid black;/*creates border around the picture*/
	background-color: #bad4e0;
    /*the following automatically rescale my image depending on viewport*/
    width:auto;
    height:auto;
    max-width:98%;
    max-height:95%;
    margin-bottom: 5%;
}

.logo:hover {
	/*width: 90px;*/
	/*box-shadow: 0 1em 3em rgba(50,105,206,0.8);*/
	transform: scale(1.2)
}


#fixer{
	width: 400px;
	height: 400px;
	overflow: hidden;
}

/*carousel portion*/
.carousel-wrapper{
	perspective:270em;
	text-align: center;
	margin-top: 5em;
}

.carousel {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
	position: relative;
	width: 22em;
	height: 23em;
	margin: 0 auto;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-webkit-transition: transform 0.8s ease;
	-moz-transition: transform 0.8s ease;
	-ms-transition: transform 0.8s ease;
	transition: transform 0.8s ease;
}

.carousel-slide{
	position: absolute;
	/*display: table;*/
	width: 22em;
	height: auto;
	background: white;
	margin: 0 auto;
}

[slide-number="1"] { 
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	transform: rotateY(0deg);
}

[slide-number="2"] { 
	-webkit-transform: rotateY(90deg);
	-moz-transform: rotateY(90deg);
	-ms-transform: rotateY(90deg);
	transform: rotateY(90deg);
}

[slide-number="3"] { 
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

[slide-number="4"] { 
	-webkit-transform: rotateY(270deg);
	-moz-transform: -moz-rotateY(270deg);
	-ms-transform: rotateY(270deg);
	transform: rotateY(270deg);
}

.carousel-slide:nth-child(3) {
  	-webkit-transform: translateZ(-10.5em) rotateY(180deg);
  	-moz-transform: translateZ(-10.5em) -moz-rotateY(180deg);
  	-ms-transform: translateZ(-10.5em) rotateY(180deg);
  	transform: translateZ(-10.5em) rotateY(180deg);
}

.carousel-slide:nth-child(2) {
  	-webkit-transform: rotateY(-270deg) translateX(10.8em);
  	-moz-transform: rotateY(-270deg) -moz-translateX(10.8em);
  	-ms-transform: rotateY(-270deg) translateX(10.8em);
  	transform: rotateY(-270deg) translateX(10.8em);
  	transform-origin: top right;
}

.carousel-slide:nth-child(4) {
  	-webkit-transform: rotateY(270deg) translateX(-10.7em);
  	-moz-transform: rotateY(-270deg) -moz-translateX(-10.7em);
  	-ms-transform: rotateY(-270deg) translateX(-10.7em);
  	transform: rotateY(270deg) translateX(-10.7em);
  	transform-origin: center left;
}

.carousel-slide:nth-child(1) {
	-webkit-transform: translateZ(11em);
	-moz-transform: translateZ(11em);
	-ms-transform: translatez(11em);
	transform: translatez(11em);
}

.certs{
	width:300px;
	height: 291px;
}


.github{
	background-image: url(../images/githubb.png);
}

/*portfolio portion*/
.portfolio-title{
	font-size: 2em;
    font-weight: 300;
    text-align: center;
    overflow: hidden;
    /*margin-bottom: 0.5em;*/
}

.portfolio-title::before,.portfolio-title::after {
    content: "";
    background: #ccc;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 30%;
    vertical-align: middle;
}
.portfolio-title::before {
    right: 0.5em;
    margin-left: -42%;
}
.portfolio-title::after {
    left: 0.5em;
    margin-right: -42%;
}


.port{
	list-style: none;
	text-align: left;
	padding-bottom: 40px;
}

.port figure {
	margin: 0;
	position: relative;
}

.port figure img {
	max-width: 100%;
	display: block;
	position: relative;
	/*border: 1px solid grey;*/
	/*border-radius: 1em;*/
}

.port figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #111;
	color: #e66f69;
}

.port figcaption h3 {
	margin: 0px 0px 8px 0px;
	padding: 0;
	color: #fff;
}

.port figcaption a {
	text-align: center;
	padding: 8px 15px;
	display: inline-block;
	color: #fff;
}

.cs-style-3 figure {
	overflow: hidden;
}

.cs-style-3 figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.cs-style-3 figure:hover img{
	-webkit-transform: translateY(-25px) scaleX(1.01);
	-moz-transform: translateY(-25px) scaleX(1.01);
	-ms-transform: translateY(-25px) scaleX(1.01);
	transform: translateY(-25px) scaleX(1.01);
}

.cs-style-3 figcaption a {
	position: absolute;
	bottom: 31px;
	right: 20px;
}
.button{
	background: transparent;
	border: 1px solid #fff;
	transition: 0.4s ease;
}
.button:hover {
	text-decoration: none;
    background: white;
    color: #000;
}

.cs-style-3 figcaption {
	height: 100px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.cs-style-3 figure:hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}


.interests{
	margin-top: 10em;
}

/*for smooth slide*/
.slideanim {visibility:hidden;}
.slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 0.9s;
      animation-delay: 10ms;
      -webkit-animation-duration: 0.9s;
      -webkit-animation-delay: 10ms;
      visibility: visible;
  }

  /*have to use pixels on keyframes, because % make it choppy*/
  @keyframes slide {
    from {
      /*opacity: 0;*/
      transform: translateY(-1000px);
    } 
    to {
      /*opacity: 1;*/
      transform: translateY(0px);
    }
  }
  @-webkit-keyframes slide {
    from {
      /*opacity: 0;*/
      -webkit-transform: translateY(-1000px);
    } 
    to {
      /*opacity: 1;*/
      -webkit-transform: translateY(0px);
    }
  }

.me{
	color: black;
	font-size: 1.5em;
	text-align: justify;
	font-family: Lobster, Sans-Serif;
}

.desc{
	color: black;
	font-size: 1.5em;
	text-align: center;
	padding: 1em;
	font-family: Lobster, Sans-Serif;
	margin-bottom: 0;
}

#my-title{
	font-style: italic;
	/*margin-top: 1em;*/
	line-height: 147%;
	text-align: center;
	color: black;
	font-size: 2em;
	font-weight: bolder;
	font-family: Lobster, Sans-Serif;
}

/*navbar styling*/
.navbar-inverse .navbar-nav>li>a{
	color:#ccc;
	font-size: 2.2rem;
	font-family: Lobster, Sans-Serif;
	padding-top: 25px;
	padding-bottom:17px;
	transition: color 0.5s;
}

.navbar-inverse .navbar-brand{
	color:#ccc;
	font-size: 1.3em;
	font-family: Lobster, Sans-Serif;
	padding-top: 25px;
}

.nav li:hover {
	background-color: white;
	
}

.nav li:hover a{
	color: black !important;
}

  /*accounting for first section/navbar*/
#about-me{
	min-height: 100vh;
  }

#portfolio{
	min-height: 100vh;
}

#what-I-know{
	min-height: 100vh;
}

.fixer{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
}

#contact{
	color: #fff;
	min-height: 100vh;
	margin-top:-0.1em;
	position: relative;
}


.backtotop{
	color: #fff;
    font-size: 3em;
    font-weight: 100;
    padding-bottom: 10px;
    border-bottom: 1px solid;
    text-decoration: none;
}

a[hover] { 
	cursor: pointer 
	}


.backtotop:hover {
	text-decoration: none;
	color:grey;
	font-size: 3em;
    font-weight: 100;
    padding-bottom: 10px;
    border-bottom: 1px solid;
    text-decoration: none;
	cursor: pointer;
}

.buttons{
	margin-bottom: 1rem;
}

.itcerts{
	font-size: 2rem;
}

.grid-item { 
	width: 25%;	
}

span [title]{
	/*content: attr(title);*/
	font-size: 45px !important;
}

#resume{
	cursor: pointer;
}

.presentation{
	/*width: 100%;*/
	/*height: 50%;*/
}

#resumeerror{
	text-align: center;
	width: 80%;
	margin: 0 auto;
}

#what-I-know .me{
		font-size: 2.2rem;
	}

.swal-footer{
	text-align: center;
}


@media only screen and (min-width: 450px){
	.portfolio-title{
		margin-bottom: 1.5rem;
	}
	.know{
		margin-top: 0.5rem;
	}
	.hid{
		margin-top: 2rem;
		margin-bottom: 1rem;
	}
	#about-me .me{
		font-size: 2.2rem;
	}
	.works{
		margin-bottom: 1rem;
	}
}

@media only screen and (min-width: 766px){
	.portfolio-title{
		margin-bottom: 1.5rem;
	}
	.know{
		margin-top: -2.5rem;
	}
	.hid{
		margin-top: -0.5rem;
		margin-bottom: 1rem;
	}
	.works{
		margin-bottom: 1rem;
	}
	.black{
		font-size: 4rem;
		font-weight: 400;
	}
}

@media only screen and (min-width: 766px) and (orientation: portrait){
	/*body{
		background-color: blue;
	}*/
	.portfolio-title{
		margin-bottom: 4.5rem;
		font-size: 5rem;
	}
	.know{
		margin-top: 4.5rem;
		margin-bottom: 8rem;
	}
	.hid{
		margin-top: 10.5rem;
		margin-bottom: 3rem;
	}
	.works{
		margin-bottom: 4rem;
	}
	.me{
		font-size: 2.1rem;
	}
	#what-I-know .me{
		font-size: 2.5rem;
	}
}

@media only screen and (min-width: 1020px){
	.portfolio-title{
		font-size: 4em;
		}
	.hid{
		margin-top: 7.5rem;
		margin-bottom: 1rem;
	}
	.know{
		margin-top: 0rem;
		margin-bottom: 0rem;
	}

	.works{
		margin-top: 3rem;
		margin-bottom: 2.5rem;
	}
	.desc{
		font-size: 2.7rem;
	}
	#about-me .me{
		font-size: 2.2rem;
	}
	.itcerts{
		font-size: 3rem;
	}

}


@media only screen and (min-width: 1020px) and (orientation: portrait){
	.portfolio-title{
		font-size: 6em;
		}

	.hid{
		margin-top: 7.5rem;
		margin-bottom: 1rem;
	}

	#my-title{
		font-size: 4rem;
		margin-bottom: 7rem;
    	margin-top: 7rem;
	}

	.know{
		margin-top: 6rem;
		margin-bottom: 12rem;
	}

	#what-I-know .me{
		font-size: 3rem;
	}

	.works{
		margin-top: 8rem;
		margin-bottom: 14rem;
	}
	.desc{
		font-size: 3.0rem;
	}
	#about-me .me{
		font-size: 3rem;
	}
	.black{
		font-size: 6rem;
	}
	.itcerts{
		font-size: 3rem;
	}
}


@media only screen and (min-width: 1367px){
	.portfolio-title{
		font-size: 6rem;
		font-weight: 300;
		}
	.hid{
		margin-top: 7.5rem;
		margin-bottom: 2rem;
	}
	.know{
		margin-top: 1rem;
		margin-bottom: 2rem;
	}
	#what-I-know .me{
		font-size: 2rem;
	}
	.works{
		margin-top: 2rem;
		margin-bottom: 4rem;
	}
	.desc{
		font-size: 3.2rem;
	}
	#about-me .me{
		font-size: 2.7rem;
	}
	#contact{
		margin-top: -2rem;
	}
	.itcerts{
		font-size: 3rem;
	}
}


@media only screen and (min-width: 1600px) and (orientation: landscape){
	.portfolio-title{
		font-size: 6rem;
		font-weight: 400;
		}
	.hid{
		margin-top: 10.5rem;
		margin-bottom: 5rem;
	}
	.works{
		margin-top: 4rem;
		margin-bottom: 4rem;
	}
	#contact{
		margin-top: -2rem;
	}
	.itcerts{
		font-size: 3rem;
	}
}
